body, html {
	margin-top: 10px;
}

.Tiers {
	width: 800px;
}

.Tier {
	height: 100px;
	width: 100%;
	display: table;
	border-spacing: 5px;
}

.Tier .TierHeader, .Tier .TierContent {
	padding: 5px;
	background-color: lightcyan;
	display: table-cell;
	font-size: 50px;
	vertical-align: middle;
}

.Tier .TierHeader {
	width: 100px;
	text-align: center;
}
.Tier .TierContent {
	
}

.Item {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-color: red;
	font-size: 12px;
	margin-right: 5px;
	vertical-align: middle;
	cursor: move;
}