body, html {
	margin-top: 10px;
}

.Tiers {
	width: 800px;
}

.Tier {
	height: 100px;
	width: 100%;
	display: table;
	border-spacing: 5px;
}

.Tier .TierHeader, .Tier .TierContent {
	padding: 5px;
	background-color: lightcyan;
	display: table-cell;
	height: 100%;
	font-size: 50px;
}

.Tier .TierHeader {
	width: 100px;
	text-align: center;
}
.Tier .TierContent {
	
}