body, html {
	margin-top: 10px;
}

.SearchOpenColumn {
	width: 50px;
}

.SearchResults .pagination {
	margin: 5px 5px 0 0;
}

.SearchResults .panel-heading, .SearchResults .panel-footer{
	padding: 1px;
}

.SearchResults .NumberOfResults {
	padding: 10px 5px;
	display: inline-block;
}

.SearchResults .PageSizeSelection {
	padding: 5px;
}

form.CreateUser h4 {
	margin-right: 30px;
}

form.CreateUser .form-group .input-group input {
	width: 250px;
}
form.CreateUser .form-group .input-group input#CreateUserPassword {
	width: 150px;
}

.FileDropdown {
    position: relative;
    overflow: hidden;
	cursor: pointer;
}
.FileDropdown input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

textarea {
	resize: none;
}

.AddTimedAnnotationForm {
	margin-top: 20px;
}

.ManageAnnotationColumn {
	width: 160px;
}